:root{

    /*variáveis das cores*/
    --bege: #FFF0E7;
    --azul-escuro: #213042; 
    --cinza: #5E6368; 
    --bege-escuro: #C1B8A9;
    --sombra: rgba(0, 0, 0, 0.25);
    --vermelho: #F25F5C; 

    /*variáveis do peso da fonte*/
    --light: 300;
    --regular: 400;
    --semibold: 600;
    --bold: 700;
    --black: 900;

    /*variaveis do tamanho da fonte*/
    --geral: 1.25rem;
    --menor: 1rem;
    --maior: 5.25rem; 
    --title: 2.75rem;
    --subtitle:2rem;
}

body {
    background: white;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

main.container {
    background: white;
    width: 500px;
    min-height: 40vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

main h2 {
    font-weight: var(--black);
    font-size: var(--subtitle);
    color: var(--azul-escuro);
    align-self: center;
    text-align: center;

}

main h3 {
    font-size: var(--menor);
    font-weight: var(--semibold);
    color: var(--bege-escuro);
    margin-bottom: 2rem;
    align-self: center;
    text-align: center;

}

main h4 {
    font-size: var(--menor);
    font-weight: var(--semibold);
    color: var(--vermelho);
    margin-bottom: 0.5rem;
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
    
}

.passBox input{
    outline: none;
    font-size: var(--menor);

}

form input::placeholder {
    color: var(--bege-escuro);
}

form input [type="date"]{
	color: var(--bege-escuro);
}

::-webkit-calendar-picker-indicator{
	color: #C1B8A9;
}
::-webkit-datetime-edit-month-field, 
::-webkit-datetime-edit-day-field, 
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field{
	color: var(--bege-escuro);
} 


#hide1{
    display: none;
}

main a {
    text-decoration: none;
    align-self: center;
    font-size: var(--menor);
    font-weight: var(--semibold);
    color: var(--azul-escuro);
}

.comando-login p{
	text-align: center;
}


/*------------------------------*/

form label{
	position: relative;
	display: block;
}

form input[type="email"],form input[type="submit"],form input[type="date"]{
	outline:none;
    border-width: 3px;
    padding-left: 0.5rem;
	padding-right: 0.5rem;
    height: 2.7rem;
    border-style: solid;
    border-color: var(--bege-escuro);
    border-radius: 100px;
    font-size: var(--menor);
    color: var(--azul-escuro);
    width: 100%;
    margin-bottom: 0.5rem;

}

.passBox{
	outline:none;
    border-width: 3px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 2.7rem;
    border-style: solid;
    border-color: var(--bege-escuro);
    border-radius: 100px;
    font-size: var(--menor);
    color: var(--azul-escuro);
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
	justify-content: space-between;
}
.passBox .eye {
    color: var(--bege-escuro);
	margin-right: none; 
	justify-self: right;
}

form input[type="submit"] {
    background: var(--azul-escuro);
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
    border-style: none;
    font-weight: var(--bold);
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: #283159;
}

form input[type="submit"]:disabled {
    letter-spacing: 0.5px;
    background: var(--bege-escuro);
	cursor:auto;
}




span.passText,
span.emailText{
	display: block;
	font-weight: var(--regular);
	font-size: var(--menor);
	margin-bottom: 0.5rem;
	color:var(--vermelho);
	text-align: center;

}

span.invalid.passText,
span.invalid.emailText {
	color:var(--vermelho);
}

span.passText.valid,
span.emailText.valid{
	display: none;
}

label.invalid.passBox{
    border-color: var(--vermelho);
}

label.invalid.passBox input,
label.invalid.passBox input::placeholder,
label.invalid.passBox .eye{
	color: var(--vermelho);
}

label.valid::before,
label.invalid::before{
	content: "";
	position: absolute;
	width: 24px;
	height: 24px;
	top: 18px;
	right: 5px;
	z-index: 100;
}

@media (max-width: 500px){
    main.container {
        background: white;
        width: 100vh;
        min-width: 296px;
        min-height: 40vh;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    main h2{
        font-size: var(--geral);
    }
    span.passText{
		font-size: 0.75rem;
	
	}
}
