@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{

    /*variáveis das cores*/
    --bege: #FFF0E7;
    --azul-escuro: #213042; 
    --cinza: #5E6368; 
    --bege-escuro: #C1B8A9;
    --sombra: rgba(0, 0, 0, 0.25);;  

    /*variáveis do peso da fonte*/
    --light: 300;
    --regular: 400;
    --semibold: 600;
    --bold: 700;
    --black: 900;

    /*variaveis do tamanho da fonte*/
    --geral: 1.25rem;
    --menor: 1rem;
    --maior: 5.25rem; 
    --title: 2.75rem;
    --subtitle:2rem;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: white;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: white;
    width: 500px;
    min-height: 40vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

main h2 {
    font-weight: var(--black);
    font-size: var(--subtitle);
    color: var(--azul-escuro);
    align-self: center;

}

main h3 {
    font-size: var(--menor);
    font-weight: var(--semibold);
    color: var(--bege-escuro);
    margin-bottom: 1.5rem;
    align-self: center;
    text-align: center;
}

main a {
    text-decoration: none;
    align-self: center;
    font-size: var(--menor);
    font-weight: var(--semibold);
    color: var(--azul-escuro);
}

.top {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.top .flex{
    display: flex;
    column-gap: 0.5rem;
    height: 2rem;
}

.top .line{
    content: '';
    height: 1px;
    background-color: var(--bege-escuro);
    width: 100%;
}

.top .input-field:hover{
    background-color: var(--bege-escuro);

}

.top a {
    text-decoration: none;
    color: var(--azul-escuro);
    font-weight: var(--bold);
    width: 100%;
    margin-bottom: 0.75rem;

}

.top p{
    font-size: var(--menor);
    font-weight: var(--semibold);
}

.top .input-field{
    border-color: var(--azul-escuro);
    outline:none;
    border-width: 3px;
    padding-left: 0.5rem;
    height: 2.7rem;
    border-style: solid;;
    border-radius: 100px;
    font-size: var(--menor);
    color: var(--azul-escuro);
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: var(--menor);
    font-weight: var(--bold);
    background-color: white;
    display: flex;
    column-gap: 0.75rem;
    align-content: center;
    justify-content: center;
}

.top .input-field span{
    font-size: var(--menor);
    font-weight: var(--bold);
    align-self: center;
    justify-self: center;
}

.top .input-field:hover{
    background-color: var(--bege-escuro);

}

.top a .input-field i {
    width: 15px;
    justify-self: center;
    align-self: center;
    width: 15px;
}


form {
    display: flex;
    flex-direction:row;
}

.input-field {
    position: relative;
    
}

.input-field input {
    outline:none;
    border-width: 3px;
    padding-left: 0.5rem;
    height: 2.7rem;
    border-style: solid;
    border-color: var(--bege-escuro);
    border-radius: 100px;
    font-size: var(--menor);
    color: var(--azul-escuro);
    margin-bottom: 0.5rem;
}

.input-field input::placeholder {
    color: var(--bege-escuro);
}

form input[type="email"]{
    margin-right: 0.5rem;
    width: 300px;
}

form input[type="submit"] {
    background: var(--azul-escuro);
    cursor: pointer;
    color: white;
    width: 127px;
    transition: all 0.3s ease;
    border-style: none;
    font-weight: var(--bold);
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: #283159;
}

.top .line{
    content: '';
    height: 1px;
    background-color: var(--bege-escuro);
    width: 100%;
}

.top {
    display: flex;
    flex-direction: column;
}

.top .flex{
    display: flex;
    column-gap: 0.5rem;
    height: 2rem;
}

.comando-login{
    align-self: center;
}

@media (max-width: 500px){
    main.container {
        background: white;
        width: 100vh;
        min-width: 270px;
        min-height: 40vh;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    main h2{
        font-size: var(--geral);
    }

    form {
        display: flex;
        flex-direction:column;
    }
    
    form input[type="email"] {
        width: 100%;
    }
      
    
    form input[type="submit"] {
        width: 100%;
    }

    main h2{
        font-size: var(--geral);
    }
    
}